# Data Science Tools And Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientist use are
1. Python
2. R
3. SQL
4. Julia
5. VBA (Visual Basic for Application

In this exercise is meant to help the students to get more familiar with Jupiter notebook

Objective:
* To get familiar to the Jupiter notebook
* To be able to use markdown
* To be able to insert arithmetic expressions
* To be able to create table

Some of the commonly used libraries used by Data Scientists include
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. Apache Spark
6. Tensorflow

|Data Science Tools|
|------------------|
|Weka|
|Scrapy|
|Pandas|

### Below are a few examples of evaluating arithemetic expressions in Python

This is a simple arithmetic expression to multiply then add integers

In [1]:
(3*4)+5

17

In [2]:
200/60

3.3333333333333335

## Author

Kasa Yohanna G.